@page "/create"
@using HummingbirdFeeder.Data;
@using Microsoft.EntityFrameworkCore;

@inject IDbContextFactory<FeederDataContext> FeederDataContextFactory;

<h1>Add New Feeder</h1>

<EditForm Model="NewFeeder" OnValidSubmit="CreateFeeder">

    <div class="form-group mb-3">
        <label for="feederName">Feeder Name</label>
        <InputText @bind-Value="NewFeeder.FeederName" class="form-control" pattern="^[a-zA-Z0-9 ]*$" id="feederName" />
    </div>

    <div class="form-group mb-3">
        <label for="feederZipcode">Zipcode Where Feeder is Located (Must be 5 digits)</label>
        <InputText @bind-Value="NewFeeder.Zipcode" class="form-control" id="feederZipcode" pattern="\d{5}" @oninput="ValidateForm" />
        <ValidationMessage For="@(() => NewFeeder.Zipcode)" />
        @if (!IsZipcodeValid)
        {
            <div class="alert alert-danger" role="alert">
                @ZipcodeErrorMessage
            </div>
        }
    </div>

    <div class="form-group mb-3">
        <label for="feederChangeDate">Last Date Feeder Was Changed</label>
        <InputDate @bind-Value="InputLastChangeDate" class="form-control" id="feederLastChangeDate" @oninput="ValidateForm" />
        <ValidationMessage For="@(() => InputLastChangeDate)" />
        @if (IsDateInFuture)
        {
            <div class="alert alert-warning" role="alert">
                What are you from the future!? Please enter either today's date or a date in the past.
            </div>
        }
    </div>
    <button class="btn btn-success" type="submit" disabled=@IsSaveDisabled>Save</button>
    <button class="btn btn-secondary" type="button" @onclick="@(() => navigationManager.NavigateTo("/"))">Cancel</button>
</EditForm>